.sidenav {
    height: 100%;
    width: 350px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #EEEEEE;
    overflow-x: hidden;
    padding-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.headerIcon {
    background-color: #3CB371;
    padding: 5px;
    cursor: pointer;
    height: 22px !important;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.sidenav .navBlock {
    margin-top: 50px;

}

.sidenav .sidenavLink {
    padding: 7px 18px 9px 16px;
    text-decoration: none;
    font-size: 18px;
    color: rgb(129, 140, 153);
    display: flex;
    align-items: center;
}

.sidenav .sidenavLink:hover {
    cursor: pointer;
    background-color: rgb(211, 217, 222);
}

.sidenav .logo {
    margin-left: 15px;
    color: 	#3CB371;
}

.sidenav .logoIcon {
    margin-bottom: -6px;
}

.sidebarToggle {
    position: absolute;
    top: 1.5rem;
    left: 1rem;
    z-index: 10;
    margin: 0;
    padding: 0;
    cursor: pointer;

}

.sidenav .chargingBlock {
    display: block;
    width: 270px;
    border: 1px solid rgb(211, 217, 222);
    border-radius: 3px;
    margin: 20px auto;
    padding: 15px 20px;
    text-align: center;

}
.chargingBlock .chargingBlockTitle {
    font-size: 18px;
    font-weight: 700;
}

.chargingBlock .chargingBlockAddress {
    font-size: 14px;
}

.chargingBlock .chargingBlockDetails {
    text-align: left;
    font-size: 14px;
    margin-top: 10px;
    margin-left: 80px;
}

.startButton {
    margin-top: 10px;
    font-family: Roboto, serif;
    display: block;
    width: 100%;
    border: none;
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    border-radius: 3px;
}

.sidenav .sidenavUser {
    padding: 7px 18px 9px 16px;
    text-decoration: none;
    font-size: 18px;
    color: rgb(129, 140, 153);
}

.sidenav .sidebarIcons {
    margin-right: 10px;
}


